.box {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1 {
    background-color: lightblue;
}

 .box1:hover {
    background-color: lightcoral;
} 

.box2 {
    background-color: lightgreen;
    transition: transform 1s ease;
}

 .box2:hover {
    transform: rotate(45deg);
} 

.box3 {
    background-color: rgb(246, 246, 156);
    transition: all 2s ease;
}

.box3:hover {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
    transition: transform 1s ease;
} */

.box4 {
    background-color: lightcyan;
    transition: transform 2s ease;
    
}

.box4:hover {
    transform: translateX(200px);
}

.box5 {
    background-color: lightpink;
}


.box5:hover {
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
} 

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    margin: 20px;
}

nav {
    display: flex;
    gap: 0.5rem;
  }
  
  a {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: #fff;
    color: #333;
  }
  